@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* .container {
	margin: 50px auto auto 100px;
	max-width: 1200px;
	max-height: 800px;
	background-color: #eee;
} */


.wrapper {
	margin: 20px auto auto auto;
	max-width: 1050px;
	height: auto;
	position: relative;
	background-color: #777;
}

.wrapper::after {
	content: '';
	display: block;
	padding-top: 66.666%;
}

.img-shape {
	width: 100%;
	position: absolute;
	object-fit: cover;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 2;
}

.color-bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}

.color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 4;
}

.color_layer-path {
	fill: #45ff11;
}

.wall {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
}

.wall-path {
	fill: aqua;
}

.cover {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 4;
	display: none;
}

.cover-color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
	display: none;
}

.cover-color-path {
	fill: turquoise;
}

.furniture {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 6;
	display: none;
}

.light-dots {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.light {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.radio {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.menu {
	z-index: 100;
	max-width: 1050px;
	min-height: 110px;
	background-color: #fff;
	position: relative;
	margin: 5px auto 0px auto;
	display: flex;
	flex-wrap: wrap;
}

.menu-item {
	width: 250px;
	height: 50px;
	background-color: #999;
	box-shadow: none;
	border: none;
	padding: 0;
	display: inline-block;
	margin: 5px auto;
	transition: all 0.2s;
}

.menu-item:hover {
	cursor: pointer;
}

.menu-item:active {
	background-color: #bbb;
}

.menu-item p {
	font-family: Roboto, sans-serif;
	color: black;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
}

.cover-button {
	transition: all 0.3s;
}