@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #ddd;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* .container {
	margin: 50px auto auto 100px;
	max-width: 1200px;
	max-height: 800px;
	background-color: #eee;
} */


.wrapper {
	margin: 20px auto auto auto;
	max-width: 1050px;
	height: auto;
	position: relative;
	background-color: #777;
}

.wrapper::after {
	content: '';
	display: block;
	padding-top: 66.666%;
}

.img-shape {
	width: 100%;
	position: absolute;
	object-fit: cover;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 2;
}

.bg-bw {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}

.color-bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}

.color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 4;
}

.color_layer-path {
	fill: #fff;
}

.wall {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
}

.wall-path {
	fill: #ffffbf;
}

.cover {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 4;
}

.cover-color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
}

.cover-color-path {
	fill: #fff;
}

.furniture {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 6;
}

.light-dots {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
}

.light {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
}

.radio {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
}

.menu {
	z-index: 100;
	max-width: 1050px;
	min-height: 110px;
	position: relative;
	margin: 5px auto 0px auto;
}

.menu-part1 {
	z-index: 100;
	max-width: 1050px;
	min-height: 55px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.menu-part2 {
	z-index: 100;
	max-width: 1050px;
	min-height: 55px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.menu-item {
	width: 250px;
	height: 50px;
	background-color: #457b9d;
	box-shadow: none;
	border: none;
	padding: 0;
	display: inline-block;
	margin: 5px auto;
	transition: all 0.2s;
	border-radius: 4px;
	display: flex;
}

.menu-item:hover {
	cursor: pointer;
}

.menu-item:active {
	background-color: #54bfc3;
}

.menu-item p {
	font-family: Roboto, sans-serif;
	color: black;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	margin: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.color-button {
	width: 32%;
	min-width: 250px;
	height: 50px;
	box-shadow: none;
	border: none;
	padding: 0;
	display: inline-block;
	margin: 5px auto;
	transition: all 0.2s;
	border-radius: 4px;
	background-color: #fc3645;
	display: flex;
}

.color-button:hover {
	cursor: pointer;
}

.color-button p {
	font-family: Roboto, sans-serif;
	color: black;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	margin: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.color-button:active {
	background-color: #c52a37;
}

.cover-box {
	min-width: 250px;
	height: 50px;
	box-shadow: none;
	border: none;
	padding: 0;
	display: inline-flex;
	margin: 5px auto;
	transition: all 0.2s;
	border-radius: 4px;
}

.color-picker-for-cover {
	display: flex;
	border-radius: 4px 0px 0px 4px;
	width: 50%;
}

.color-picker-for-cover p {
	margin: auto;
}

.cover-button {
	transition: all 0.3s;
	margin:0 auto auto 0;
	border-radius: 0px 4px 4px 0px;
	display: flex;
	width: 50%;
}

.cover-button p {
	margin: auto;
}

.icon-box {
	display: flex;
	position: relative;
	width: 20px;
	height: 20px;
	margin: auto auto auto 0;
	justify-content: space-between;
}

.x-icon {
	width: 100%;
	height: 100%;
	margin: auto auto auto 0px;
	transition: all 0.3s;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checked-icon {
	width: 100%;
	height: 100%;
	margin: auto auto auto 0px;
	opacity: 1;
	fill: #333;
	transition: all 0.3s;
	position: absolute;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}