@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* .container {
	margin: 50px auto auto 100px;
	max-width: 1200px;
	max-height: 800px;
	background-color: #eee;
} */

.wrapper {
	margin: 50px auto auto 100px;
	max-width: 1200px;
	height: 800px;
	/* height: calc(var(--size) / 1.5); */
	/* max-width: 1200px;
	height: 800px; */
	position: relative;
	background-color: #777;

}

.bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 2;
}

.color-bg {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}

.color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 4;
}

.color_layer-path {
	fill: #45ff11;
}

.wall {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
}

.wall-path {
	fill: aqua;
}

.cover {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 4;
	display: none;
}

.cover-color {
	width: 100%;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 5;
	display: none;
}

.cover-color-path {
	fill: turquoise;
}

.furniture {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 6;
	display: none;
}

.light-dots {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.light {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.radio {
	width: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
}

.menu {
	z-index: 100;
	width: 1200px;
	height: 50px;
	background-color: #999;
	position: relative;
	margin-left: 100px;
}

.button {
	width: 100px;
	height: 50px;
	background-color: #773388;
	box-shadow: none;
	border: 2px solid black;
	border: none;
	padding: 0;

}

.button:active {
	background-color: #337788;
}

.button p {
	font-family: Roboto, sans-serif;
	color: white;
}

.input-text {
	font-family: Roboto, sans-serif;
}

.checkbox_light-label {
	margin-left: 20px;
}