body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	height: 800px;
	background-color: #eee;
	position: relative;
}
.bg {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 2;
}
.color-bg {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}
.color {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 4;
}

.color_layer-path {
	fill: #eee;
}

.light {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.menu {
	z-index: 100;
	width: 1200px;
	height: 200px;
}
