@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	margin: 50px auto auto 100px;
}

.wrapper {
	max-width: 1320px;
	height: 800px;
	/* background-color: #eee; */
	position: relative;
	display: flex;
	/* padding-top: 60.6%; */
}
.bg {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 2;
}
.color-bg {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 3;
}
.color {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	mix-blend-mode: multiply;
	z-index: 4;
}

.color_layer-path {
	fill: #45ff11;
}

.light {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
	z-index: 5;
	margin: 0;
	display: none;
}

.menu {
	z-index: 100;
	width: 1200px;
	height: 50px;
}

.input-text {
	font-family: Roboto, sans-serif;
}

.checkbox_light-label {
	margin-left: 20px;
}